/* VARIABLES */
:root {
  /* color */
  /* --highlightColor: limegreen; */
  --highlightColor: #0000ff;

  /* font */
  --fontFamily: sans-serif;

  /* border */
  --borderWidth: 0px;
}

/* RESPONSIVE FONT-SIZE */
body {
  font-size: 16px;
}

@media screen and (min-width: 900px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 30px;
  }
}
